input[type="button"] {
  background-color: powderblue;
  border-color: powderblue;
  width: 25px;
  margin: 1px;
  height: 20px;
}

input[type="text"] {
  border: 1px black solid;
  border-radius: 3px;
}

table {
  border: 2px black double;
  width: fit-content;
  height: fit-content;
}
